package {{ package_name }}.controller;

import {{ package_name }}.service.{{ entity.class_name }}Service;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.junit.jupiter.MockitoExtension;

import static org.junit.jupiter.api.Assertions.assertNotNull;

@ExtendWith(MockitoExtension.class)
public class {{ entity.class_name }}ControllerTest {

    @Mock
    private {{ entity.class_name }}Service service;

    @InjectMocks
    private {{ entity.class_name }}Controller controller;

    @Test
    void contextLoads() {
        assertNotNull(controller, "The controller should have been instantiated");
    }
}
