package {{ package_name }}.dto.response;

import java.time.LocalDate;
import java.time.LocalDateTime;
import java.math.BigDecimal;
import java.util.UUID;
import java.util.List;
import java.util.ArrayList;

public class {{ entity.class_name }}Response {

    private {{ entity.id_field.java_type }} {{ entity.id_field.name }};
    
    {% for field in entity.fields %}
    private {{ field.java_type }} {{ field.name }};
    {% endfor %}

    {% for rel in entity.relations %}
    {% if rel.persistence_owner and rel.relation_kind in ['MANY_TO_ONE', 'ONE_TO_ONE'] %}
    private {{ rel.target_id_type }} {{ rel.name }}Id;
    {% elif rel.persistence_owner and rel.relation_kind == 'MANY_TO_MANY' %}
    private List<{{ rel.target_id_type }}> {{ rel.target_entity[:1].lower() + rel.target_entity[1:] }}Ids = new ArrayList<>();
    {% endif %}
    {% endfor %}

    // Getters and Setters
    public {{ entity.id_field.java_type }} get{{ entity.id_field.name[:1].upper() + entity.id_field.name[1:] }}() {
        return {{ entity.id_field.name }};
    }

    public void set{{ entity.id_field.name[:1].upper() + entity.id_field.name[1:] }}({{ entity.id_field.java_type }} {{ entity.id_field.name }}) {
        this.{{ entity.id_field.name }} = {{ entity.id_field.name }};
    }

    {% for field in entity.fields %}
    public {{ field.java_type }} get{{ field.name[:1].upper() + field.name[1:] }}() {
        return {{ field.name }};
    }

    public void set{{ field.name[:1].upper() + field.name[1:] }}({{ field.java_type }} {{ field.name }}) {
        this.{{ field.name }} = {{ field.name }};
    }
    {% endfor %}

    {% for rel in entity.relations %}
    {% if rel.persistence_owner and rel.relation_kind in ['MANY_TO_ONE', 'ONE_TO_ONE'] %}
    public {{ rel.target_id_type }} get{{ rel.name[:1].upper() + rel.name[1:] }}Id() {
        return {{ rel.name }}Id;
    }

    public void set{{ rel.name[:1].upper() + rel.name[1:] }}Id({{ rel.target_id_type }} {{ rel.name }}Id) {
        this.{{ rel.name }}Id = {{ rel.name }}Id;
    }
    {% elif rel.persistence_owner and rel.relation_kind == 'MANY_TO_MANY' %}
    public List<{{ rel.target_id_type }}> get{{ rel.target_entity[:1].upper() + rel.target_entity[1:] }}Ids() {
        return {{ rel.target_entity[:1].lower() + rel.target_entity[1:] }}Ids;
    }

    public void set{{ rel.target_entity[:1].upper() + rel.target_entity[1:] }}Ids(List<{{ rel.target_id_type }}> {{ rel.target_entity[:1].lower() + rel.target_entity[1:] }}Ids) {
        this.{{ rel.target_entity[:1].lower() + rel.target_entity[1:] }}Ids = {{ rel.target_entity[:1].lower() + rel.target_entity[1:] }}Ids;
    }
    {% endif %}
    {% endfor %}
}
